
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=poppins:wght@200;300;400;500;600;700;&display=swap');

body{
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    flex-wrap: wrap;
}
.nav-country{
display: flex;
align-items: flex-end;
margin-left: 15px;
font-size: 11px;
color: #c4c4c4;
}
.nav-country h1{
    color: #fff;
    font-size: 13px;
}
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
    max-height: 32px;
}
.nav-search-gategory{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 13px;
    gap: 5px;
    background-color: #e5e5e5;
    border-radius: 4px 0 0;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
.nav-search-icon{
    max-width: 32px;
    padding: 5px;
    background-color: #F3A847;
    border-radius: 0 4px 4px 0;
}
.nav-language{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
}


.nav-text{
    margin-left: 14px;
}
.nav-text p{
    font-size: 11px;
}
.nav-text h1{
    font-size: 13px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;  font-size: 13px;
}

.amazon-img img:hover {
    border: 1px solid white;
    padding:3px 6px 3px 6px;
}
.nav-country:hover{
    border: 1px solid white;
    padding:1px 6px 2px 6px;
}
.nav-language:hover {
    border: 1px solid white; 
    padding:1px 6px 2px 6px; 
}
.nav-text:hover {
    border: 1px solid white; 
    padding:1px 6px 2px 6px; 
}
.nav-cart:hover {
    border: 1px solid white; 
    padding: 0px 1px 0px 1px; 
}
    
    /* ------------------------- menu bar -------------------------------*/
    
    .second-nav {
        background-color: #232F3E;
        padding: 10px;
    }
    .all-menu {
        position: relative;
        display: inline-block;
        padding-left: 20px;
    }
    .menu-all{
        font-size: 14px;
        margin-top: 6px;
    }
    .all-dropdownbtn {
        background-color: #232F3E;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .all-dropdownbtn img {
        height: 20px;
        margin-right: 4px;
    }
    .all-dropdown-content {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #f9f9f9;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: #f9f9f9;
        min-width: 320px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-height: 300px;
        overflow-y: auto;
        padding: 10px;
        box-sizing: border-box;
    }
    .all-dropdown-content li{
        text-decoration: none;
        list-style-type: none;
        line-height: 40px;
    }
    .all-dropdown-content a {
        color: black;
        text-decoration: none;
    }
    .all-dropdown-content a:hover {
        background-color: #ddd;
    }
    .dropdown-Sign-in a{
        font-weight: 600;
        margin: -10px -10px 10px;
        position: sticky;
        top: 0;
        line-height: 10px;
        background-color: #232F3E;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 11px 100px 20px 90px;
    }
    .dropdown-heading {
        font-weight: bold;
        font-size: 14px;
        margin: -10px 10px 10px;
    }
    .dropdown-content ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .dropdown-content ul li {
        padding: 8px 0;
        list-style-type: none;
    }
    .dropdown-content ul li a {
        color: black;
        list-style-type: none;
    }
    .all-menu:hover .all-dropdown-content {
        display: block;
    }
    .all-menu:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    /* ------------------------- amazon fresh -------------------------------*/
    
    .amazon-fresh {
        position: relative;
        display: inline-block;
        bottom: 3px;
        padding-left: 20px;
        font-weight: 500;
    }
    .amazon-freshbtn {
        background-color: #232F3E;
        color: white;
        border: none;
        cursor: pointer;
        top: 2px;
        font-size: 14px;
    }
    .amazon-fresh-content {
        display: none;
        position: absolute;
        top: 50px; 
        left: 0;
        background-color: #fff;
        min-width: 400px; 
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 10px;
        box-sizing: border-box;
    }
    .amazon-fresh-text {
        margin-bottom: 10px;
    }
    .amazon-fresh-text p {
        margin: 0;
        font-weight: bold;
    }
    .amazon-fresh-img1 {
        display: flex;
        gap: 5px; 
    }
    
     .fresh-2 img{
        margin-top: 20px; 
    }
    .amazon-fresh-img1 a {
        flex: 1;
    }
    .amazon-fresh-img1 img {
        width: 100%; 
        height: auto;
        display: block; 
    }
    .amazon-fresh:hover .amazon-fresh-content {
        display: block;
    }
    .fresh-para a{
        font-size: 12px;
        color: #2f687f;
    }
    .amazon-fresh:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    /* ------------------------- amazon miniTV -------------------------------*/
    
    .amazon-minitv {
        position: relative;
        display: inline-block;
        bottom: 3px;
        font-weight: 500;
        border: none;
        padding-left: 20px;
    }
    .amazon-tvbtn {
        border: none;
        cursor: pointer;
        top: 2px;
        background-color: #232F3E;
        font-size: 14px;
    }
    .amazon-minitv a{
        text-decoration: none;
        color: white;
        border: none;
    }
    .amazon-minitv:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    /* ------------------------- amazon Sell -------------------------------*/
    
    .amazon-sell {
        position: relative;
        display: inline-block;
        bottom: 3px;
        font-weight: 500;
        border: none;
        padding-left: 20px;
    }
    .amazon-sellbtn {
        border: none;
        cursor: pointer;
        top: 2px;
        background-color: #232F3E;
        font-size: 14px;
    }
    .amazon-sell a{
        text-decoration: none;
        color: white;
        border: none;
    }
    .amazon-sell:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    /* ------------------------- Best Sellers -------------------------------*/
    
    .best-sell {
        position: relative;
        display: inline-block;
        bottom: 3px;
        font-weight: 500;
        padding-left: 20px;
        border: none;
    }
    .best-sellbtn {
        border: none;
        cursor: pointer;
        top: 2px;
        background-color: #232F3E;
        font-size: 14px;
    }
    .best-sell a{
        text-decoration: none;
        color: white;
        border: none;
    }
    .best-sell:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    /* ------------------------- Todays Deal-------------------------------*/
    
    .today-deal {
        position: relative;
        display: inline-block;
        bottom: 3px;
        padding-left: 20px;
        font-weight: 500;
        border: none;
    }
    .today-dealbtn {
        border: none;
        cursor: pointer;
        top: 2px;
        background-color: #232F3E;
        font-size: 14px;
    }
    .today-deal a{
        text-decoration: none;
        color: white;
        border: none;
    }
    .today-deal:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    
    /* ------------------------- Mobiles-------------------------------*/
    
    .mobiles {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        bottom: 3px;
        font-weight: 500;
        border: none;
    }
    .mobiles-btn {
        border: none;
        cursor: pointer;
        top: 2px;
        background-color: #232F3E;
        font-size: 14px;
    }
    .mobiles a{
        text-decoration: none;
        color: white;
        border: none;
    }
    
    .mobiles:hover  {
        border: 1px solid white; 
        padding-left: 12px; 
        padding-right: 12px; 
    }
    
    /* ------------------------- Festival-------------------------------*/
    
    .festival {
        position: relative;
        display: inline-block;
        bottom: 7px;
        font-weight: 500;
        border: none;
        float: right;
        
    }
    .festival-btn {
        border: none;
        cursor: pointer;
        top: 1px;
        background-color: #232F3E;
        font-size: 14px;
        
    }
    
    .festival-btn img{
        width: 190px;
    }
    .festival a{
        text-decoration: none;
        color: white;
        border: none;
    }
    
    .festival:hover  {
        border:.5px solid white; 
        padding: 0; 
    }
    
    /* -------------- offers day-------------------------------*/
    
    .main-content{
    padding: 0;
    border: 0;
        background-color: #E3E6E6;
    }
    .slide-img img{
        width: 100%;
        height: 300px;
    }
    .slide-img{
        padding: 0;
        margin: 0%;
        border: 0;
        left: 0;
    }
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        margin-left: 12px;
        margin-top: 2%;
        padding-top: 5px;
        margin-right: 12px;
    }
    
    .carousel-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 1fr;
        grid-template-rows: auto;
        gap: 13px;
    }
    
    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    
    .carousel-item img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .column-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-column: 4;
        grid-row: 1 / span 2;
    }
    
    .column-item {
        flex: 1;
        justify-content: center;
        align-items: center;
        
    }
    .carousel-item img[src*="contain-img1.png"]{
        width: 100%;
        height: 105%;
        position: static;
       }
    .carousel-item img[src*="contain-img2.png"]{
        width: 100%;
        height: 105%;
        position: static;
       }
    .carousel-item img[src*="contain-img3.png"]{
        width: 100%;
        height: 105%;
     position: static;
    }
    .column-item img {
        width: 90%;
        height: 80%;
    }
    .column-item img[src*="contain-img4.png"]{
        margin-bottom: 0;
        width: 115%;
        height: 80%;
        padding-right: 20px;
    }
    .column-item img[src*="contain-img5.png"] {
        object-fit: cover;
        display: block;
        margin-bottom: 0;
        width: 115%;
        height: 82%;
        
        padding-right: 20px;
    }
    
/*--------------------------Blockbuster deals---------------------*/

.browsing-deals {
    margin-left: 12px;
    background-color: white;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
.deal-text p{
    font-weight: 600;
font-size: 18px;
}
.deal-text{
    padding-left: 20px;
}
.deal-text span{
    font-size: 14px;
    flex-direction: row;
    margin-top: 4px;
    padding-left: 10px;
    color: #056576;
}
.deals {
    margin-left: 12px;
    margin-top: 2%;
    padding-top: 5px;
    background-color: white;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.deals-container {
    gap: 10px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 4px;
}
.second-deals-container{
    gap: 10px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 4px;
}
.deals-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column; 
    text-align: center; 
    background-color: #F7F8F8;
}

.deal-text p,
.deal-text span {
    display: inline-block;
    vertical-align: middle; 
}
.deals-item img {
    width: 100%;
    height: auto;
    display: block;
}

.deals-item img[src*="mobile-deals.jpg"]{
    max-width: min-content;
    position: static;
    margin: 0;
   }
   .deals-item img[src*="dell-deals.jpg"]{
    max-width: min-content;
    position: static;
   }
   .deals-item img[src*="hp-deals.webp"]{
    max-width: min-content;
    position: static;
   }
   .deals-item img[src*="xiomi-deals.jpg"]{
    max-width: min-content;
    position: static;
   }
   .deals-item img[src*="hp1-deals.jpg"]{
    max-width: min-content;
    position: static;
   }
   .deals-item img[src*="safari-deals.jpg"]{
    max-width: fit-content;
    position: static;
    }

    .offer{
color: white;
background-color: #CC0C39;
font-size: 12px;
padding: 6px;
border-radius: 2px;
    }
.deal-offer{
    line-height: 19px;
    font-size: 12px;
    font-weight:  bold;
    color: #CC0C39;
}
.dollar{
    font-size: 14px;
    top: 0px;
}
.mrp{
    font-size: 13px;
    color: #565959;
}
.del{
    font-size: 13px;
    color: #565959;
    text-decoration: line-through;
}
.price-container sup{
    font-size: 9px;
}
.deal-title{
    font-size: 11px;
}
.price-of-deal{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 12px;
}
.price-container{
    line-height: 20px;
}

/*-----------------trending-deals--------------------------------------*/
.trending-deals{
    margin-left: 12px;
    margin-top: 2%;
    padding-top: 5px;
    background-color: white;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
}  


.deals-item img[src*="trending-detergent.jpg"]{
    max-width: min-content;
    position: static;
    margin-bottom: 3%;
   }
   .deals-item img[src*="trending-presto.jpg"]{
    max-width: min-content;
    position: static;
    margin-bottom: 3%;
   }
   .deals-item img[src*="trending-bag.jpg"]{
    max-width: min-content;
    position: static;
    margin-bottom: 3%;
   }
   .deals-item img[src*="trending-trolley.jpg"]{
    max-width: min-content;
    position: static;
    margin-bottom: 3%;
   }
   .deals-item img[src*="trending-machine.jpg"]{
    max-width: min-content;
    position: static;
    margin-bottom: 3%;
   }
   .deals-item img[src*="trending-shakthi.jpg"]{
    max-width: fit-content;
    position: static;
    margin-bottom: 3%;
    }


/*-------------- beauty and makeup sttart------------------*/

.beauty-makeup-deals{
    margin-left: 12px;
    margin-top: 2%;
    background-color: white;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
.deals-container {
    gap: 10px;
    display: flex;
    overflow: hidden;
    margin-left: 4px;
    align-items: stretch;
}
.deals-item img[src*="browsing-lakme.jpg"]{
    width: 100%;
    height: auto;
    position: static;
   }
   .deals-item img[src*="beauty-eyegel.jpg"]{
    width: 100%;
    height: auto;
    position: static;
   }
   .deals-item img[src*="beauty-sunscreen.jpg"]{
    width: 100%;
    height: auto;
    position: static;
   }
   .deals-item img[src*="beauty-mascara.jpg"]{
    width: 100%;
    height: auto;
    position: static;
   }
    .deals-item img[src*="beauty-moisturizer.jpg"]{
        width: 100%;
    height: auto;
    position: static;
   }
   .deals-item img[src*="beauty-ipstick.jpg"]{
    width: 100%;
    height: auto;
    position: static;
   }
   .deals-item img[src*="beauty-eyeliner.jpg"]{
    width: 100%;
    height: auto;
    position: static;
    }
    .deals-item img[src*="beauty-mascara.jpg"]{
        width: 100%;
    height: auto;
    position: static;
       }
  
   
   
   
   
       
       
       /*-------------- collasch sttart------------------*/
       
     .carousel-item img[src*="bottom-collache1.png"]{
        width: 100%;
        position: static;
       }
       .carousel-item img[src*="bottom-collache2.png"]{
        width: 100%;
        position: static;
       }
    .carousel-item img[src*="bottom-collache3.png"]{
        width: 100%;
        position: static;
       }
    .carousel-item img[src*="bottom-collache4.png"]{
        width: 100%;
     position: static;
    }
    
/*---- browsing deal-----------------*/

.browsing-deals-container{
    gap: 2rem;
    padding: 6%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
}
    .browsing-deals{
        margin-left: 12px;
        margin-top: 2%;
        background-color: white;
        margin-right: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
    
    .deals-item img {
        max-width: 100%;
        height: auto;
    }


       /*--------------end-sign-----------------*/

        .end-sign{
            text-align: center;
            padding-top: 10px;
            line-height: 28px;
            background-color: white;

        }
.sign-span1{
    font-size: 16px;
}
.end-sign button{
padding-left: 120px;
padding-right: 120px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 14px;
border-color: #FFCC4B;
border-radius: 7px;
background-color: #f2bf3c;
font-weight: bold;

}
.sign-customer{
    font-size: 12px;
}
.give-padding{
    padding-top: 40px;
    padding-bottom: 40px;

}


/* -------------- footer starts here -------------------------------*/

.footer {
     background-color: #232F3E;
    color: white; 
    display: flex;
    justify-content: space-around; 
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/*-------------------responsive*-------------------*/


@media only screen and (max-width: 375px) {
    .amazon-img img {
        width: 40px;
        height: 20px;
    }
    
    .nav-country {
        font-size: 7px;
        margin: 0 0 0 2px;
    }
    .nav-search-gategory {
        padding: 5px 5px;
        font-size: 7px;
    }
    .nav-country img{
        width: 12px;
        height: auto;
    }
    .nav-country h1 {
        font-size: 7px;
    }
    .nav-search-input {
        padding-left: 2px;
        font-size: 7px;
    }
    .nav-search-icon {
        max-width: 18px;
        padding: 4px;
    }
    .nav-text p {
        font-size: 7px;
    }
    .nav-search {
        margin-left: 2px;
        max-height: 18px;

    }
    .nav-text {
        margin-left: 5px;
    }
    .nav-text h1 {
        font-size: 7px;
    }
    .nav-search-gategory img{
display: none;
    }
    .nav-cart {
        font-size: 7px;
        margin: 0px 2px;
    } 
    .nav{
        padding: 8px 2px;
    }
    .nav-language img{
    width: 12px;
    }
    .nav-language {
        font-size: 7px;
        margin-left: 3px;
        }
    .nav-cart img{
        width: 16px;
    }
    .festival-btn img {
        display: none;
    }
    .menu-all, .amazon-freshbtn, .amazon-tvbtn, .amazon-sellbtn, .best-sellbtn, .today-dealbtn, .mobiles-btn{
        font-size: 7px;
}
.all-dropdownbtn img{
width: 16px;
height: auto;
}
.second-nav{
    padding: 5px;
}
.slide-img img {
    width: 100%;
    height: 100px;
}
.all-menu, .amazon-fresh, .amazon-minitv, .amazon-sell,.best-sell, .today-deal, .mobiles{
    padding-left: 2px;
    }
    .all-dropdownbtn img {
        height: 9px;
    }
    span.menu-all {
        margin-bottom: 7px;
    }

    .offer {
        font-size: 4px;
        padding: 1px;
    }
    .deal-offer {
        font-size: 7px;
        line-height: 3px;
    }
    .deals-container {
        gap: 1px;
    }
    .dollar {
        font-size: 6px;
    }
    .mrp {
        font-size: 4px;
    }
    .price-container sup {
        font-size: 3px;
    }
    .deal-title {
       display: none;
    }
    .price-container {
        line-height: 4px;
    }
    .price-of-deal {
        text-align: left;
        padding-left: 3px;
        line-height: 7px;
    }
    .del {
        font-size: 5px;
    }

    .deal-text p {
        font-size: 10px;
    }
    .deal-text span {
        font-size: 8px;
    }
    .carousel {
        margin-top: 0%;
    }
    .carousel-inner {
        gap: 0 5px;
    }
    .deals {
        margin-top: 1%;
    }
    .trending-deals {
        margin-left: 12px;
        margin-top: 1%;
    }
    .beauty-makeup-deals {
        margin-top: 1%;
    }
    .give-padding {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sign-span1 , .sign-customer{
       font-size: 8px;
    }
    .end-sign button {
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 10px;
    }
    .footer-section {
         flex: 0; 
        margin: 0 3px;
    }
    .footer {
        padding: 10px 0;
    }
    .footer-section ul li {
        margin-bottom: 0px;
    }
    .footer-section h4 {
        font-size: 8px;
        margin-bottom: 0px;
    }
    .footer-section ul li a {
        font-size: 7px;
    }
}

/* iPhone XR, Pixel 7, Samsung Galaxy S8+ and similar */
@media only screen and (min-width: 376px) and (max-width: 468px) {
    .amazon-img img {
        width: 40px;
        height: 20px;
    }
    .all-dropdownbtn img {
        height: 10px;
    }
    .all-menu, .amazon-fresh, .amazon-minitv, .amazon-sell,.best-sell, .today-deal, .mobiles{
        padding-left: 5px;
        }
        .second-nav{
            padding: 6px;
        }
        span.menu-all {
            margin-bottom: 6px;
        }
    .nav-country {
        font-size: 7px;
        margin: 0 0 0 2px;
    }
    .nav-search-gategory {
        padding: 5px 5px;
        font-size: 7px;
    }
    .nav-country img{
        width: 12px;
        height: auto;
    }
    .nav-country h1 {
        font-size: 7px;
    }
    .nav-search-input {
        padding-left: 2px;
        font-size: 7px;
    }
    .nav-search-icon {
        max-width: 18px;
        padding: 4px;
    }
    .nav-text p {
        font-size: 7px;
    }
    .nav-search {
        margin-left: 2px;
        max-height: 18px;

    }
    .nav-text {
        margin-left: 5px;
    }
    .nav-text h1 {
        font-size: 7px;
    }
    .nav-search-gategory img{
display: none;
    }
    .nav-cart {
        font-size: 7px;
        margin: 0px 2px;
    } 
    .slide-img img {
        width: 100%;
        height: 120px;
    }
    .menu-all, .amazon-freshbtn, .amazon-tvbtn, .amazon-sellbtn, .best-sellbtn, .today-dealbtn, .mobiles-btn{
        font-size: 7px;
}
    .nav{
        padding: 8px 2px;
    }
    .nav-language img{
    width: 12px;
    }
    .festival-btn img {
        display: none;
    }
    .nav-language {
        font-size: 7px;
        margin-left: 3px;
        }
    .nav-cart img{
        width: 16px;
    }
    .offer {
        font-size: 5px;
        padding: 1px;
    }
    .deal-offer {
        font-size: 7px;
        line-height: 0px;
    }
    .deals-container {
        gap: 2px;
    }
    .dollar {
        font-size: 7px;
    }
    .mrp {
        font-size: 7px;
    }
    .price-container sup {
        font-size: 4px;
    }
    .deal-title {
       display: none;
    }
    .price-container {
        line-height: 9px;
    }
    .price-of-deal {
        text-align: left;
        padding-left: 4px;
        line-height: 8px;
    }
    .del {
        font-size: 8px;
    }

    .deal-text p {
        font-size: 11px;
    }
    .deal-text span {
        font-size: 9px;
    }
    .carousel {
        margin-top: 0%;
    }
    .carousel-inner {
        gap: 0 5px;
    }
    .deals {
        margin-top: 1%;
    }
    .trending-deals {
        margin-left: 12px;
        margin-top: 1%;
    }
    .beauty-makeup-deals {
        margin-top: 1%;
    }
    .give-padding {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sign-span1 , .sign-customer{
       font-size: 8px;
    }
    .end-sign button {
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 10px;
    }
    .footer {
        padding: 10px 0;
    }
    .footer-section ul li {
        margin-bottom: 1px;
    }
    .footer-section h4 {
        font-size: 8px;
        margin-bottom: 1px;
    }
    .footer-section ul li a {
        font-size: 7px;
    }
}

@media only screen and (min-width: 469px) and (max-width: 680px) {
    .amazon-img img {
        width: 50px;
        height: 20px;
    }
    .all-menu, .amazon-fresh, .amazon-minitv, .amazon-sell,.best-sell, .today-deal, .mobiles{
        padding-left: 5px;
        }
    .nav-country {
        font-size: 9px;
        margin: 0 0 0 6px;
    }
    .nav-search-gategory {
        padding: 7px 7px;
        font-size: 8px;
    }
    .nav-search-gategory img {
        display: none;
    }
    .nav-country img{
        width: 15px;
        height: auto;
    }
    .nav-search-input {
        font-size: 8px;
    }
    .nav-search-icon {
        max-width: 22px;
        padding: 6px;
    }
    .nav-country h1 {
        font-size: 9px;
    }
    .nav-search-input {
        font-size: 9px;
    }
    .nav-search-icon {
        max-width: 22px;
        padding: 6px;
    }
    .nav-text p {
        font-size: 9px;
    }
    .nav-search {
        margin-left: 6px;
    }
    .nav-text {
        margin-left: 7px;
    }
    .nav-text h1 {
        font-size: 9px;
    }

    .nav-cart {
        font-size: 9px;
        margin: 0px 5px;
    } 
    .nav{
        padding: 10px 5px;
    }
    .nav-language img{
    width: 20px;
    }
    .festival-btn img {
        display: none;
    }
    .nav-language {
        font-size: 9px;
        margin-left: 6px;
        }
    .nav-cart img{
        width: 25px;
    }
    .slide-img img {
        width: 100%;
        height: 180px;
    }
    .menu-all, .amazon-freshbtn, .amazon-tvbtn, .amazon-sellbtn, .best-sellbtn, .today-dealbtn, .mobiles-btn{
        font-size: 9px;
}
.offer {
    font-size: 6px;
    padding: 2px;
}
.deal-offer {
    font-size: 8px;
    line-height: 0px;
}
.deals-container {
    gap: 3px;
}
.dollar {
    font-size: 8px;
}
.mrp {
    font-size: 8px;
}
.price-container sup {
    font-size: 7px;
}
.deal-title {
   display: none;
}
.price-container {
    line-height: 9px;
}
.price-of-deal {
    text-align: left;
    padding-left: 5px;
}
.del {
    font-size: 9px;
}



.deal-text p {
    font-size: 11px;
}
.deal-text span {
    font-size: 9px;
}
.carousel {
    margin-top: 0%;
}
.carousel-inner {
    gap: 0 5px;
}
.deals {
    margin-top: 1%;
}
.trending-deals {
    margin-left: 12px;
    margin-top: 1%;
}
.beauty-makeup-deals {
    margin-top: 1%;
}
.give-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.sign-span1 , .sign-customer{
   font-size: 8px;
}
.end-sign button {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 10px;
}
.footer {
    padding: 10px 0;
}
.footer-section ul li {
    margin-bottom: 1px;
}
.footer-section h4 {
    font-size: 8px;
    margin-bottom: 1px;
}
.footer-section ul li a {
    font-size: 7px;
}
    }

@media only screen and (min-width: 681px) and (max-width: 768px) {
    .amazon-img img {
        width: 70px;
        height: auto;
    }
    .nav-search-input {
        font-size: 10px;
    }
    .all-menu, .amazon-fresh, .amazon-minitv, .amazon-sell,.best-sell, .today-deal, .mobiles{
    padding-left: 5px;
    }
    .nav-country {
        font-size: 10px;
    }
    .nav-country img{
        width: 15px;
        height: auto;
    }
    .nav-country h1 {
        font-size: 10px;
    }

    .nav-text p {
        font-size: 10px;
    }

    .nav-text h1 {
        font-size: 10px;
    }
    .festival-btn img {
        display: none;
    }

    .nav-cart {
        font-size: 10px;  
    }
    .nav-language img{
    width: 20px;
    }
    .nav-language {
        font-size: 10px;
        }
        .nav{
            padding: 10px 5px;
        }
    .nav-cart img{
        width: 25px;  
    }
    .menu-all, .amazon-freshbtn, .amazon-tvbtn, .amazon-sellbtn, .best-sellbtn, .today-dealbtn, .mobiles-btn{
        font-size: 10px;
}
.slide-img img {
    width: 100%;
    height: 240px;
}

.offer {
    font-size: 7px;
    padding: 3px;
}
.deal-offer {
    font-size: 9px;
    line-height: 1px;
}
.deals-container {
    gap: 4px;
}
.dollar {
    font-size: 9px;
}
.mrp {
    font-size: 9px;
}
.deal-title {
    font-size: 9px;
    line-height: 10px;
}
.price-container {
    line-height: 9px;
}
.del {
    font-size: 10px;
}


.deals, .carousel, .beauty-makeup-deals, .beauty-makeup-deals {
    margin-top: 1%;
}

}


@media only screen and  (min-width: 769px) and (max-width: 890px) {
    .amazon-img img {
        width: 80px;
    }
.nav{
    padding: 10px 5px;
}
    .nav-country p,
    .nav-country h1,
    .nav-text p,
    .nav-text h1 {
        font-size: 10px;
    }
    .festival-btn img {
        display: none;
    }.slide-img img {
        width: 100%;
        height: 240px;
    }
    .nav-search-gategory {
        font-size: 10px;
    }

    .nav-search-input {
        font-size: 10px;
    }

    .nav-search-icon {
        max-width: 28px;
    }

    .menu-all, .amazon-freshbtn, .amazon-tvbtn, .amazon-sellbtn, .best-sellbtn, .today-dealbtn, .mobiles-btn{
        font-size: 10px;
    }

    .nav-cart h4 {
        font-size: 10px;
    }

    .offer {
        font-size: 8px;
        padding: 3px;
    }
    .deal-offer {
        font-size: 10px;
        line-height: 1px;
    }
    .dollar {
        font-size: 10px;
    }
    .mrp {
        font-size: 10px;
    }
    .deal-title {
        font-size: 10px;
        line-height: 10px;
    }
    .price-container {
        line-height: 10px;
    }
    .del {
        font-size: 10px;
    }
}


@media only screen and (min-width: 891px) and (max-width: 1024px) {
    .nav-search {
        max-width: 100%;
        margin: 0 10px;
    }
    .price-container {
        line-height: 15px;
    }
    .nav-language {
        font-size: 11px;
    }

    .nav-text h1 {
        font-size: 11px;
    }
    .dollar, .mrp {
        font-size: 11px;
    }
    .nav-cart h4 {
        font-size: 11px;
    }
    .menu-all, .amazon-freshbtn, .amazon-tvbtn, .amazon-sellbtn, .best-sellbtn, .today-dealbtn, .mobiles-btn{
        font-size: 11px;
    }

    .deals, .carousel, .beauty-makeup-deals, .beauty-makeup-deals {
        margin-top: 1%;
    }
}

@media only screen and  (min-width: 1025px) and (max-width: 1440px) {
    .nav-search {
        max-width: 100%;
        margin: 0 15px;
    }


}


@media only screen and  (min-width: 1441px) {
    .nav {
        flex-direction: row;
        align-items: center;
    }
.all-menu, .amazon-fresh, .amazon-minitv
, .amazon-sell,.best-sell, .today-deal, .mobiles{
    font-size: 11px;
}

}